<header>
    <div class="header-wrap">
        <div class="logo"><img src="https://www.freepnglogos.com/uploads/logo-website-png/logo-website-website-icon-with-png-and-vector-format-for-unlimited-22.png" alt=""></div>
        <nav>
            <div class="menu"><a href="/">Home</a></div>
            <div class="menu"><a href="/contacts">Contacts</a></div>
            <div class="menu"><a href="/posts">Posts</a></div>
            <div class="menu"><a href="/add-post">Add new post</a></div>
        </nav>
    </div>
</header>