<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
<%- include('./partials/nav.ejs'); %>
<main>
    <div class="example">
        <form action="/add-post" method="post" >
            <div class="addTT">
                <input type="text" name="title" placeholder="Post title">

                <input type="text" name="text" placeholder="Post text">
            </div>

            <div class="addTT">
                <input type="text" name="author" placeholder="Author">
            </div>
            <div class="addTT">
                <input type="submit">
            </div>
        </form>
    </div>
</main>
</body>
</html>